---
- name: Install and configure Apache HTTPD
  hosts: all
  vars:
    index_message: "This is your new apache server"
    index_image: ""
    configuration_file: configuration_files/index.html

  tasks:
    - name: httpd package is present
      yum:
        name: httpd
        state: present

    - name: copy index file to host 
      copy:
        source: "{{ configuration_file }}"
        dest: /var/www/html/index.html

    - name: httpd is started
      service:
        name: httpd
        state: restarted
        enabled: true
