---
- name: Install and configure Apache HTTPD
  hosts: all
  vars:
    index_message: "This is your new apache server"
    index_image: ""
    configuration_file: configuration_files/index.j2

  tasks:
    - name: httpd package is present
      yum:
        name: httpd
        state: present

    - name: copy index file to host 
      copy:
        src: "{{ configuration_file }}"
        dest: /var/www/html/index.html
      become: yes
      
    - name: correct index.html is present
      blockinfile:
        dest: /var/www/html/index.html
        create: yes
        marker: "<!-- {mark} ANSIBLE MANAGED BLOCK -->"
        insertafter: "<body>"
        content: |
          <h1>BCNDEVOPS - {{ansible_hostname}}</h1>
          <p>Last updated on {{ ansible_date_time.iso8601 }}</p>
        become: yes

    - name: httpd is started
      service:
        name: httpd
        state: restarted
        enabled: true
      become: yes
